<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <h3>Testing navbar</h3>
  </div>
</nav>

<body class="welcome">
  <div class="ryan-title">
<h1 id="index1">Plan your vacation</h1>
  </div>

  <div class="index">
    <div class="hot-container">
      <h3 id="index2"><b>Without the planning</b></h3>
      <a id="index3" class="btn btn-info" href="/venues">Get Started</a>

    </div>
  </div>
</body>
